/* CSS Document */

/* CSS Reset */
body {
    margin: 0;
}
    
nav {
    margin: 0;
    padding: 10px 25px;
    background-color: #0D3B66;
}
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
    
nav li {
    display: inline;
}
    
nav a {
    padding: 10px 25px;
    font-size: 2em;
    text-decoration: none;
    color: #FAF0CA;
}
    
nav a:hover {
    color: #F4D35E;
    text-decoration: underline;
}
    
    
header {
    top: 0;
    background-color: #FAF0CA;
    height: 800px;
    font-family: 'Times New Roman', Times, serif;
}

header blockquote {
    font-size: 7em;
    text-align: center;
}
    
blockquote {
    
}



.container {
    width: 80%;
    text-align: center;
    background-color: #FAF0CA;
}

article {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 150px;
    padding-bottom: 150px;
}

p {
    font-size: 2.5em;
}

footer {
    top: 0;
    background-color: #FAF0CA;
    height: 800px;
    margin-top: 50px;
}